.solution-card
  position relative
  display flex
  flex-direction column
  max-width 500px
  row-gap 10px

  &__icon
    width 34px
    height 34px

    svg   
      width 100%
      height 100%
      fill $color-primary

  &__title
    font-size clamp(16px, 4.72vw, 26px)

  &__description
  &__link
    font-size clamp(12px, 3vw, 18px)

  