// DISPLAY
.d-flex
  display flex !important

.d-none
  display none !important

.d-md-inline-flex
  +above($md)
    display inline-flex !important

// ALIGN
.justify-content-center
  justify-content center !important

.justify-content-between
  justify-content space-between !important

.align-items-center
  align-items center !important

.flex-auto
  flex 0 0 auto !important

// FONT
.fw--light
  font-weight 300 !important

.fw--lighter
  font-weight lighter !important

.fw--normal
  font-weight 400 !important

.fw--medium
  font-weight 500 !important

.fw--semibold
  font-weight 600 !important

.fw--bold
  font-weight 700 !important

.fw--bolder
  font-weight bolder !important

// TEXT
.text--left
  text-align left !important

.text--right
  text-align right !important

.text--center
  text-align center !important

.text--lower
  text-transform lowercase !important

.text--upper
  text-transform uppercase !important

.text--capitalize
  text-transform capitalize !important

.text--wrap
  white-space normal !important

.text--nowrap
  white-space nowrap !important

// ICONS
.icon
  display inline-flex
  align-items center
  justify-content center
  flex 0 0 auto

  svg
    width 100%
    height 100%

.icon--primary
  svg
    fill var(--mt-primary)

.icon--light
  svg
    fill var(--mt-white)

.icon--dark
  svg
    fill var(--mt-dark)

// COLORS
.bg--primary
  background-color $color-primary

.bg--secondary
  background-color $color-secondary

.bg--gray-light
  background-color $color-gray-100

.bg--light
  background-color $footer-color

.bg--image
  background-size cover
  background-position center center
  background-repeat no-repeat

.color--primary
  color $color-primary

  &:is(a)
  a
    color currentColor

    &:hover
      color $color-primary-hover

.color--primary-light
  color $color-primary-light

.color--primary-dark
  color $color-primary-dark

.color--secondary
  color $color-secondary

  &:is(a)
  a
    color currentColor

    &:hover
      color $color-secondary-hover

.color--secondary-light
  color $color-secondary-light

.color--secondary-dark
  color $color-secondary-dark

.color--light
  color $white

.color--dark
  color $color-dark

.color--gray
  color $color-gray

  &:is(a)
  a
    color currentColor

    &:hover
      color $color-primary

.color--gray-700
  color $color-gray-700

.color--danger
  color $color-danger

.color--success
  color $color-success

// BACKGROUNDS
.bg--image
  background-position center center
  background-repeat no-repeat
  background-size cover

.rounded-circle
  border-radius 50% !important
