//Theme Colors
$color-primary          = #1D4ED8
$color-primary-hover    = #49E9E0
$color-secondary        = #21C55E

$color-gray     = #a1a1a1
$color-gray-100 = #e6e6e6
$color-gray-500 = $color-gray
$color-gray-700 = #535353
$color-gray-800 = #454545
$color-gray-900 = #18182e

// Colors
$color-danger   = #db332d
$color-success  = #198754
$color-card-bg  = #ebebeb
$color-dark     = #303f41
$color-link     = #2ee8d8

$black          = #000000
$white          = #ffffff

$body-bg        = #ffffff
$body-color     = #000000
$footer-color   = #ecf2f2

$skeleton-color = rgba(0, 0, 0, .13)

$xs  = 0
$sm  = 480px
$md  = 768px
$lg  = 1024px
$xl  = 1280px
$xxl = 1440px

$xs-max = ($sm - .02)
$sm-max = ($md - .02)
$md-max = ($lg - .02)
$lg-max = ($xl - .02)
$xl-max = ($xxl - .02)

// Space
$gutter = 15px

$max-width = 1920px
$wrapper-width = 1270px

// Typography
$font-family-base       = 'Poppins', sans-serif;
$font-family-secondary  = 'Roboto', sans-serif
$font-size-base         = 16px

$font-weight-lighter    = lighter
$font-weight-thin       = 100
$font-weight-light      = 300
$font-weight-normal     = 400
$font-weight-medium     = 500
$font-weight-semibold   = 600
$font-weight-bold       = 700
$font-weight-extrabold  = 800
$font-weight-black      = 900
$font-weight-bolder     = bolder

$font-weight-base = $font-weight-normal
$line-height-base = 1.2

// Z-index
$zindex-dropdown       = 1000
$zindex-sticky         = 1020
$zindex-fixed          = 1030
$zindex-modal-backdrop = 1040
$zindex-modal          = 1050
$zindex-popover        = 1060
$zindex-tooltip        = 1070
$zindex-menuopen       = 990

// Animate
$time-hover   = 250ms
$ease-hover   = ease-in-out

$easeOutCirc = cubic-bezier(0, .55, .45, 1)
$easeOutQuad = cubic-bezier(.5, 1, .89, 1)
