.site-footer
  background-color $color-primary

  .wrapper 
    padding-top 30px
    padding-bottom 30px

    +above($lg)
      padding-top 60px
      padding-bottom 60px

  .footer-info
    display flex
    flex-direction column
    color $white
    font-size 12px

    +above($md)
      font-size 14px
      row-gap 15px
